[2019-01-03 19:58] pratiktimer opened #1 "* Error running Gradle: ProcessException: Process android\gradlew.bat" exited abnormally:"
WARNING: The specified Android SDK Build Tools version (25.0.3) is ignored, as it is below the minimum supported version (27.0.3) for Android Gradle Plugin 3.1.2.
Android SDK Build Tools 27.0.3 will be used.
To suppress this warning, remove "buildToolsVersion '25.0.3'" from your build.gradle file, as each version of the Android Gradle Plugin now has a default version of the build tools.

[2019-01-03 20:12] sarbagyastha commented on #1
prariktimer, either remove buildToolsVersion '25.0.3' from your app level build.gradle
or, replace 25.0.3 with 27.0.3

[2019-01-03 20:14] sarbagyastha commented on #1
@pratiktimer  either remove buildToolsVersion '25.0.3' from your app level build.gradle
or, replace 25.0.3 with 27.0.3

[2019-01-04 20:33] offbrok opened #2 "stream error"
i can't paste youtube stream, you can fix it?

Syncing files to device Android SDK built for x86...
I/flutter (21140): built
I/flutter (21140): sxPwMuMSzUM
I/flutter (21140): sxPwMuMSzUM
D/        (21140): HostConnection::get() New Host Connection established 0xe4ecd2c0, tid 21159
D/EGL_emulation(21140): eglMakeCurrent: 0xdd7a8960: ver 3 1 (tinfo 0xdd8693a0)
I/flutter (21140): built
I/flutter (211

[2019-01-04 21:09] offbrok commented on #2
youtube stream works here https://pub.dartlang.org/packages/flutube

[2019-01-05 01:56] sarbagyastha commented on #2
@offbrok  I am working on it, will update the plugin by tomorrow.

[2019-01-05 02:44] offbrok commented on #2
@sarbagyastha thanks.

[2019-01-05 07:06] #2 closed

[2019-01-10 10:53] ParthAggarwal1996 opened #3 "Video does not stops when we press back button"
import 'package:flutter/material.dart';
import 'package:youtube_player/youtube_player.dart';

class YTPlayer extends StatefulWidget {
  final String videoID;
  YTPlayer({this.videoID});
  @override
  _YTPlayerState createState() => _YTPlayerState();
}

class _YTPlayerState extends State<YTPlayer> {
  Widget youtubeplay() => YoutubePlayer(
        source: widget.videoID,
        quality: YoutubeQua

[2019-01-11 02:29] sarbagyastha commented on #3
@ParthAggarwal1996 , your issue has been addressed with Patch Version [0.6.1](https://pub.dartlang.org/packages/youtube_player#-changelog-tab-) . Please confirm if it is fixed or not and do let me know.

[2019-01-11 07:11] #1 closed

[2019-01-11 16:15] Y-ndm opened #4 "App crashes once the video is about to start"
Hey everyone.
My issue is that once the video is about to start only the thumbnail shows up and then the app crashes.
I am using android emulator for testing with sdk 28 installed and in gradel min sdk 26 and targeted sdk 27.

here's the callback that i get.

`Launching lib\main.dart on Android SDK built for x86 in debug mode...
Built build\app\outputs\apk\debug\app-debug.apk.
D/EGL_emulation(1712

[2019-01-11 18:55] PembaDomaSherpa commented on #4
@Y-ndm Which version are you getting the issue with ?

[2019-01-11 18:58] sarbagyastha commented on #4
@Y-ndm which version are you using currently ?

[2019-01-11 20:33] Y-ndm commented on #4
Before 0.6.0 and now 0.6.1 and still the same issue.

[2019-01-12 01:24] sarbagyastha commented on #4
Try adding compileOptions in your app level build.gradle file.
android{
//.....
android {
        compileOptions {
            sourceCompatibility 1.8
            targetCompatibility 1.8
        }
    }
//....
}

[2019-01-12 13:09] petehouston commented on #4
It crashes.

[code]

[2019-01-12 13:44] sarbagyastha commented on #4
`    android {`
`         compileOptions {`
`              sourceCompatibility 1.8`
`              targetCompatibility 1.8`
`          }`
`     }`

Have you added this snippet in your app level build.gradle file inside android{ } ?

[2019-01-12 16:18] petehouston commented on #4
@sarbagyastha Yes, I did. Wondering if I'm doing something wrong.

[code]

[2019-01-12 16:28] sarbagyastha commented on #4
compileOptions should be wrapped in another android{}

[2019-01-12 16:57] petehouston commented on #4
I've tried yours but it still crashes.

[code]

[2019-01-12 17:03] petehouston commented on #4
Hmmm...it looks like failure to init `ExoPlayer`.

[code]

[2019-01-12 17:05] Y-ndm commented on #4
Same here.. i think it's a ExoPlayer problem.. but i can't seem to know what it is.

[2019-01-12 18:04] Y-ndm commented on #4
I've tried this method and it has worked.
Thank you so much.

[2019-01-13 03:30] Y-ndm commented on #4
P.s i've noticed that there's no pause method or state to pause the video from a button.. am i missing something ?? if not It would be very helpful to add a pause/play state to make it even easier and greater to use.
Good luck and thanks for all.

[2019-01-13 12:51] #3 closed

[2019-01-13 13:05] sarbagyastha commented on #4
Glad it worked @Y-ndm . The purpose of the plugin is to fulfill the necessity of inline Youtube Player with high quality playback support, which it does mostly i guess. It's a generic approach. You could always customize the controller on your own if you require those functionality. Anyway, thank you for your feedback. Cheers ! 😁

[2019-01-14 01:57] #4 closed

[2019-01-24 13:36] ParthAggarwal1996 opened #5 "Video stretches"
If the video on youtube is in portrait then it stretches in your plugin which should not be done it show the portrait video as shown on youtube.

[2019-01-24 13:52] sarbagyastha commented on #5
Can you share the screenshot showing the stretch ?

[2019-01-25 23:20] AxDSan opened #6 "Cannot get video length, stream state and other properties?"
I noticed in the README, in the Future versions we will have `High level of customization` but I'm not sure what does that means, is it regarding UI customization or internals?

Anyways, my concern comes mainly after trying to see if I could access properties of the video/stream e.g. Get current video playback time, get video length, get video player state (playing, stopped, paused) etc., etc.

Is

[2019-01-26 02:31] sarbagyastha commented on #6
@AxDSan , I'm revamping the plugin currently, working to address the problems you mentioned. 😊

[2019-01-28 22:20] Y-ndm opened #7 "An issue with the player on 0.7.2 .. "the method was called on null""
After updating the player to V.0.7.2 the app would show me an error on the screen.
"NosuchMethodError: The method 'call' was called on null.
I/flutter ( 5688): Receiver: null
I/flutter ( 5688): Tried calling: call(Instance of 'YoutubePlayerController')"

And on the Debug console
"
`I/flutter ( 5688): #397    _WidgetsFlutterBinding&BindingBase&GestureBinding&ServicesBinding&SchedulerBinding&Paintin

[2019-01-28 22:21] Y-ndm commented on #7
![screenshot_1548714035](https://user-images.githubusercontent.com/46603925/51870272-611c1980-2353-11e9-974d-3c5e880eb66e.png)

Here's a screenshot of what shows up  on the screen.

[2019-01-28 23:54] Y-ndm commented on #7
The problem was fixed by adding a YoutubePlayerController but in general, the app now is a chaos.. this update is so bad, unfortunately.. the 0.6.1 was so stable.. now after a hot reload it plays a  video on top of the one playing so you have two videos playing at the same time and if you navigate into another page the video doesn't dispose nore pause and when you exit the page the video in it won

[2019-01-29 03:23] sarbagyastha commented on #7
@Y-ndm , Thank you for reporting issue. Updated the plugin to **[v0.8.0](https://pub.dartlang.org/packages/youtube_player#-changelog-tab-)**. Please do report whether or not the issue is fixed properly.

[2019-01-29 08:45] sarbagyastha commented on #6
@AxDSan , **[v 0.8.0](https://pub.dartlang.org/packages/youtube_player#-changelog-tab-)** might meet your requirements.

[2019-01-29 11:27] Y-ndm commented on #7
It's seems all working just fine.
One quetion though .. is there anyway to get the video's thumbnail link so it can be stored??.
I know it does show up but is there any way to like store it in a String so it can be uploaded.

Thanks for the great work  sarbagyastha.

[2019-01-29 11:32] sarbagyastha commented on #7
You're most welcome @Y-ndm . Refer to [this](https://stackoverflow.com/questions/2068344/how-do-i-get-a-youtube-video-thumbnail-from-the-youtube-api) .

[2019-01-29 13:28] Y-ndm commented on #7
0.8.0 still showing some weird behaviours..
_you can't pause/play from a button unless you play another URL (from a button) then you can pause/play.
_if you change the player's container size (onClick = change height size) before the video plays then it will play two videos on top of each other and if you exit the page one video will still be playing.

So far these are the two issue that I ran thr

[2019-01-29 14:37] sarbagyastha commented on #7
@Y-ndm , try the new update **v0.8.1**

[2019-01-29 20:52] Y-ndm commented on #7
Great job all good. BUT when it comes to videos in portrait mode they still don't work properly.. the video stretches instead of showing in portrait mode.
Still having fun with it and trying to see if i'll discover more. I think there's something with FloatingActionButton when you exit the page.. but it showes only in DebugConsole. i'll let you know.

[2019-01-30 01:59] sarbagyastha commented on #7
@Y-ndm can you share the screenshot with streching video ? And the resolution of the device you're using.

[2019-01-30 11:36] Y-ndm commented on #7
check out this clip and see how the video is in portrait mode. "https://www.youtube.com/watch?v=beg_zjKeCBA".

Here's how it looks like on my emulator.
![screenshot_1548848122](https://user-images.githubusercontent.com/46603925/51978849-af343880-248b-11e9-926b-5ca77b089efa.png)

the same thing happens when i test on my LG m250n.

[2019-01-31 15:49] sarbagyastha commented on #7
Are having the problem with only portait videos ?

[2019-01-31 23:16] AxDSan commented on #6
Thank you so much!

[2019-01-31 23:16] #6 closed

[2019-02-01 00:05] sarbagyastha commented on #5
Closing the issue as issuer didn't respond.

[2019-02-01 00:05] #5 closed

[2019-02-01 07:12] dasmikko opened #8 "Disable autoplay"
How can i disable auto playing?

It doesn't seem to be documented.

[2019-02-01 11:17] Y-ndm commented on #7
Yes portrait mode only.. i've tryied other non 16/9 videos and they work just fine.

![screenshot_1549019824](https://user-images.githubusercontent.com/46603925/52120025-5d221d00-261b-11e9-80ad-82e4408e7175.png)

[2019-02-01 11:31] PembaDomaSherpa commented on #8
@dasmikko autoPlay was mistakenly removed in newer versions, will add it by today.

[2019-02-01 13:17] dasmikko commented on #8
I just went through the commits, and it was removed in 0.6.1.

[2019-02-01 15:50] ljfreelancer88 commented on #8
Same here.

[2019-02-01 16:00] ljfreelancer88 opened #9 "Play and pause on video screen"
Hi,

The default player has only have play button on the middle of the screen. Can we have also the pause on middle of the screen. Since these two are the common features and to be more efficient.

Thank you

[2019-02-01 18:00] sarbagyastha commented on #7
Will look out for the solution @Y-ndm . And will update plugin with the solution.

[2019-02-01 18:00] #7 closed

[2019-02-01 18:04] sarbagyastha commented on #9
@ljfreelancer88 , I'm working on to imitating the controls of default youtube player. Thanks for your kin suggestion. 😊

[2019-02-01 18:05] sarbagyastha commented on #8
@dasmikko @ljfreelancer88 , Added autoPlay property in **v1.0.1**

[2019-02-02 04:58] ljfreelancer88 commented on #8
Wow! Thank you. Appreciate your help. I'll test on my end right away.
Just a little favor, maybe update also the snippet codes on the documentation about the new autoPlay property.

[2019-02-02 05:31] ljfreelancer88 commented on #8
After my upgrade to **v1.0.1**. The `placeHolder` property wasn't existed anymore w/c not a big deal for me. But the `autoPlay` property still wasn't available for use.

[2019-02-02 06:54] ljfreelancer88 commented on #8
Fixes for **v1.0.1** works! Thank You again.

[2019-02-03 12:00] sarbagyastha commented on #8
Sure @ljfreelancer88

[2019-02-03 12:00] #8 closed

[2019-02-03 12:37] sarbagyastha commented on #9
@ljfreelancer88 , redesigned the plugin at version 2.0.2 , check it out.

[2019-02-04 06:59] rajeshjeshar opened #10 "Unable to use this Plugin"
Launching lib\main.dart on SM J500F in debug mode...
D:\CURRENT\qw\android\app\src\main\AndroidManifest.xml:6:9-27 Error:
	Attribute application@label value=(qw) from AndroidManifest.xml:6:9-27
	is also present at [com.github.HaarigerHarald:android-youtubeExtractor:master-SNAPSHOT] AndroidManifest.xml:15:9-41 value=(@string/app_name).
	Suggestion: add 'tools:replace="android:label"' to <applicatio

[2019-02-04 07:06] sarbagyastha commented on #10
@rajeshjeshar Add `tools:replace="android:label"` to your Manifest file as shown in the screenshot.

![image](https://user-images.githubusercontent.com/9782008/52194321-67425680-287b-11e9-9724-8a2de9b2e012.png)

[2019-02-04 11:32] willvlad opened #11 "Example doesn't run on Android 7.0 (power 2)"
Gradle task 'assembleDebug'...
AGPBI: {"kind":"error","text":"Invoke-customs are only supported starting with Android O (--min-api 26)","sources":[{}],"tool":"D8"}
AGPBI: {"kind":"error","text":"Invoke-customs are only supported starting with Android O (--min-api 26)","sources":[{}],"tool":"D8"}
AGPBI: {"kind":"error","text":"Invoke-customs are only supported starting with Android O (--min-api 26)

[2019-02-04 11:49] sarbagyastha commented on #11
@willvlad updated the example. Try rebuilding with the newer source. 😊

[2019-02-07 18:17] Y-ndm opened #12 "VideoPlayerController, can no longer be used Error. [3.0.2]"
Hello there..
Well right after i go from one page to another calling (Navigator.of(context).pushReplacement())... the Debug Console gives me this error.

`I/flutter (19833): ══╡ EXCEPTION CAUGHT BY FOUNDATION LIBRARY ╞════════════════════════════════════════════════════════
I/flutter (19833): The following assertion was thrown while dispatching notifications for VideoPlayerController:
I/flutter (1

[2019-02-08 01:20] PembaDomaSherpa commented on #12
Will look into the issue tonight. For now, you could try disposing the controller(obtained through callbackController) just before navigating to another page and see if it works.

[2019-02-09 06:22] EliasDeuss opened #13 "iOS Support"
Is their a ETA on when this will be added?

[2019-02-12 10:34] ljfreelancer88 opened #14 "No background overlay appeared in version 2.0.3"
I tried both Asus and LG phone but the background overlay is not working when I tap play and pause of video.

[2019-02-13 00:36] sarbagyastha commented on #13
@EliasDeuss can't estimate it, could take long as my mac is dead currently.

[2019-02-13 00:37] sarbagyastha commented on #14
@ljfreelancer88 could you provide me with code snippet, how you're implementing background overlay ?

[2019-02-14 14:29] ljfreelancer88 commented on #14
I just added the `controlsBackgroundColor: Color.fromRGBO(255, 0, 0, 0.7)` in VideoPlayer. I'm expecting a background that covers all the screen with less opacity but the result is, the background is only for controller.

The behavior in YouTube. If you tap the pause on the screen. It will have a black background with less opacity. It will not disappear unless you tap and play again the video. :)

[2019-02-15 14:36] Cha0sX opened #15 "App crashes when pressing fullscreen"
If set a GlobalKey to the Widget, App will crash when pressing fullscreen.
[code]

[2019-02-16 07:30] #13 closed

[2019-02-16 07:31] #11 closed

[2019-02-16 07:31] #10 closed

[2019-02-16 07:31] #9 closed

[2019-02-16 15:26] sarbagyastha commented on #15
@Cha0sX can you post the code snippet of your implementation of the plugin. Didn't get you properly.

[2019-02-16 15:27] sarbagyastha commented on #14
@ljfreelancer88 Added on new version.

[2019-02-17 23:17] kyungjoongo opened #16 "Can I run in full-screen mode at startup?"
Can I run in full-screen mode at startup?

[2019-02-18 03:30] Cha0sX commented on #15
@sarbagyastha You can reproduce the crash in the example, set a GlobalKey to the parent widget of YoutubePlayer
[code]

[2019-02-18 06:07] sarbagyastha commented on #16
@kyungjoongo the feature was causing bug so was removed. It will be added in future releases.

[2019-02-18 06:08] sarbagyastha commented on #15
@Cha0sX will look into the issue.

[2019-02-19 05:02] docaohuynh opened #17 "Error when import dependencies youtube_player: ^3.0.1"
I have got error when run app when add youtube_player: ^3.0.1

[code]

[2019-02-19 05:09] sarbagyastha commented on #17
@docaohuynh add this line to your manifest file

as in the [Example](https://github.com/sarbagyastha/youtube_player/blob/master/example/android/app/src/main/AndroidManifest.xml)

[2019-02-19 13:49] ljfreelancer88 commented on #14
Is it 3.1.0 or ^3.0.1? :) Because I can't install when I use your 3.1.0 version but it works when I use the 3.0.1 version.

[2019-02-19 14:12] sarbagyastha commented on #14
@ljfreelancer88 currently working on **3.1.0**, it's not yet published to Dart Pub.

[2019-02-19 14:21] sarbagyastha commented on #17
@docaohuynh the issue is fixed in **[v3.1.0](https://pub.dartlang.org/packages/youtube_player)**

[2019-02-19 14:22] sarbagyastha commented on #16
@kyungjoongo Added the feature in **[v3.1.0](https://pub.dartlang.org/packages/youtube_player)**

[2019-02-19 14:24] sarbagyastha commented on #14
@ljfreelancer88 Uploaded it on pub, you can now use **[v3.1.0](https://pub.dartlang.org/packages/youtube_player)**

[2019-02-19 14:48] ljfreelancer88 commented on #14
Thank you so much. Based on the new update. These are my observation based on UI perspective.
1. When i pause the video, the background overlay appeared but in just a few seconds it will disappear. The background overlay should remain, until it presses again the play.
2. Since you have now the "double tap" for forward and backward, it would be better to show also an icon for that when I press the

[2019-02-19 23:40] kyungjoongo commented on #16
@sarbagyastha thank you~!

[2019-02-19 23:43] kyungjoongo opened #18 "Sometimes this plugin has a problem that video does not start."
Sometimes this plugin has a problem that video does not start.
Often, it takes a long time to load, or only the video loading indicator appears and playback is not possible.
However, it does not exactly cause Exception.
Is there a way to fix it?

[2019-02-20 00:29] #16 closed

[2019-02-20 00:38] sarbagyastha commented on #18
Sometime it might take little more time to load video as flutter engine needs to  texture paint the whole video into flutter view. Also, it might be due to network fluctuation.
But if the loading indicator appears and playback is not possible then it might be an issue with specific videos. Can you mention such video's id ?

[2019-02-20 00:45] sarbagyastha commented on #14
Thank you for your feedbacks. 😊 In next update timeOut for controls/overlay property will be added. As per the second point, you could notify user with the feature as Youtube does. Also there is a press-n-hold gesture to get to fullscreen.

[2019-02-20 00:47] sarbagyastha commented on #12
Closing as there is no response from the Author.

[2019-02-20 00:47] #12 closed

[2019-02-23 01:01] asapJ commented on #15
Noticed this too

[2019-02-23 01:03] asapJ commented on #15
Once full screen is clicked, it gives that error

[2019-02-24 03:20] #17 closed

[2019-02-24 03:21] #14 closed

[2019-03-04 08:52] lizhuoyuan opened #19 "ANR"
I have a video list , and click anyone will navigate to a new page with video , when I back , the app is not reponse
[code]

[2019-03-04 13:15] sarbagyastha commented on #19
@lizhuoyuan got your mail and saw your setup. In your video_widget.dart, it's unnecessary to use YoutubePlayer widget since you're only listing videos, just showing thumbnail of the video would be a good approach as the player itself is quite heavy. Also,it seems the screenutil package is having some problem with the player, it's working fine when I didn't use screenutil.

[2019-03-05 02:48] lizhuoyuan commented on #19
Thank you , I will have a try.
And , I want to play the video in the list. ..

[2019-03-10 02:44] Er-rchydy opened #20 "Is this approach of playing youtube videos against youtube policy?"
I want to use this plugin to play some youtube videos in my app, but i want to ask first if this approach is against youtube policy because i'll add admob ads to my app.
thanks for the great plugin

[2019-03-11 10:48] ljfreelancer88 commented on #20
I want to know this as well.

[2019-03-11 14:34] sarbagyastha commented on #20
Here we're simply using the Youtube's web service as the javascript api does. So it shouldn't be against the policy. As per the [TOS](https://www.youtube.com/static?template=terms) , distribution and commercialization of YouTube service is restricted. So, if you intend to add admob I think you shouldn't place both ad and player on the same screen. Same applies for the official youtube player api [

[2019-03-11 16:09] Er-rchydy commented on #20
ok thanks for the information

[2019-03-11 16:09] #20 closed

[2019-03-12 11:52] shiva2562 opened #21 "My app is crashing if i go back to the original route"
basically im taking the youtube id from the home route and building a route to another widget to display the youtube video and some data about that video,but when i come back to the original home route the app is crashing,this is what im getting:
The following assertion was thrown while dispatching notifications for VideoPlayerController:
I/flutter ( 7412): 'package:flutter/src/widgets/framework.d

[2019-03-13 02:27] CaioRolla commented on #21
+1
Same error.

[2019-03-29 21:09] boloni225 commented on #21
Same, is there a solution to this?

[2019-04-01 06:32] anilkumarmeena commented on #21
+1
same error

[2019-04-01 07:48] shiva2562 commented on #21
Actually it is just a break point,i think it works if we run the app through terminal,im not sure tho

[2019-04-01 07:55] sarbagyastha commented on #21
Sorry for late response folk. I just got time to look out for the issue. The issue is fixed now, newer version in on the way. 😊

[2019-04-01 08:22] sarbagyastha commented on #21
A new version [**3.2.0**](https://pub.dartlang.org/packages/youtube_player#-changelog-tab-) of the plugin is published, which fixes the issue. Also read the [_Note_](https://pub.dartlang.org/packages/youtube_player#note)

[2019-04-01 08:36] #15 closed

[2019-04-01 08:36] #18 closed

[2019-04-01 08:36] #19 closed

[2019-04-02 09:00] jorg1piano opened #22 "Can't play some video Ids. Source error and a http 403 exception."
Some ids doesn't load an results in the exo player throwing a http 403 exception

For example I can get this videoId to run: nQtQyhPAm0w
But not this: 1k8craCGpgs

The error is the same in the 'Youtube Player Demo' application as in my own app.

`E/BufferQueueProducer( 9696): [] Can not get hwsched service
I/ExoPlayerImpl( 9696): Init 438f7fe [ExoPlayerLib/2.9.6] [HWFIG-H, FIG-LX1, HUAWEI, 26]
I/Y

[2019-04-03 02:17] laravelian opened #23 "MissingPluginException"
When trying to implement this plugin I get the following error:

[code]

This is with plugin version 3.2.0 on a fresh project where this is the only extra dependency.  Code looks as follows:

[code]
I have also used just the video id.

[2019-04-03 03:02] sarbagyadhaubanjar commented on #23
@laravelian , did you perform full rebuild of your project after adding the plugin? It's completely working fine in my case.

[2019-04-03 04:17] justinmccombs commented on #23
I did, it looks like I missed the part where its only compatible with Android at the moment. Closing.

[2019-04-03 04:17] #23 closed

[2019-04-05 07:49] SandyAra opened #24 "When can i expect IOS support"

[2019-04-07 13:19] #21 closed

[2019-04-09 08:56] lizhuoyuan opened #25 "Unhandled Exception: MissingPluginException(No implementation found for method init on channel sarbagyastha.com.np/youtubePlayer)"
My project is Android mixed with Flutter, the Flutter project is dependent on the android project as a moudle, causing this problem:
[code]

[2019-04-09 09:26] sarbagyastha commented on #25
@lizhuoyuan , is this error on iOS ?

[2019-04-09 09:28] sarbagyastha commented on #24
@SandyAra , currently working on it. If everything went well, it will get published by this week.

[2019-04-09 09:33] sarbagyastha commented on #22
Some copyrighted videos have problem while extracting its media source. Since the plugin is based on extracted media source, so it might not play such videos. Currently working on new approach of implementing the player plugin, which will get published soon if everything goes as planned.

[2019-04-09 11:09] shiva2562 opened #26 "Exiting full screen if i long press the slider"
I am using this player for my app,when i play a video in full screen mode and if i long press(for 2 secs or so) the slider head,the player is exiting its full screen mode and going back to normal mode.

Slider head,By that i mean the the thing i circled in the image
![slider](https://user-images.githubusercontent.com/38890114/55795622-e48d8000-5ae5-11e9-949e-9e20582d7e64.jpeg)

[2019-04-09 15:16] lizhuoyuan commented on #25
Android

[2019-04-09 16:30] jorg1piano commented on #22
Today I retried the videoids I mentioned and now they played back just fine. Not sure if its helpful. Thanks for the great work your doing on this plugin :)

[2019-04-09 16:40] sarbagyastha commented on #25
It's working perfectly fine in my case. Did you perform full build after adding the plugin ?

[2019-04-09 16:42] sarbagyastha commented on #26
Actually it's an intensional feature(tap and hold to enter/exit fullscreen). Although will make it optional in next update.

[2019-04-10 03:29] lizhuoyuan commented on #25
yes , if I only run flutter project is ok ,
but when I run Android , it is wrong.
May be can you send me your project?
or update to github?

[2019-04-10 03:36] sarbagyastha commented on #25
If you're directly using Android, then you could use official Youtube Player API for Android. This plugin is meant for Flutter only. What's your use case btw ?

[2019-04-10 06:36] lizhuoyuan commented on #25
Thank you.
I done it use Android Youtube Player

[2019-04-10 06:36] #25 closed

[2019-04-13 01:56] sarbagyastha commented on #24
New plugin [**youtube_player_flutter**](https://pub.dartlang.org/packages/youtube_player_flutter) is published with iOS support and improved playback & controls. Do checkout. 🙂

[2019-04-13 01:59] sarbagyastha commented on #22
New plugin [**youtube_player_flutter**](https://pub.dartlang.org/packages/youtube_player_flutter) is published with iOS support and improved playback & controls. Do checkout. 🙂

[2019-04-13 02:01] sarbagyastha commented on #26
[**Version 3.2.1**](https://pub.dartlang.org/packages/youtube_player#-changelog-tab-) is published. And long tap to fullscreen is disabled by default.

[2019-04-13 02:05] sarbagyastha commented on #23
Support to iOS is added with this plugin [**youtube_player_flutter**](https://pub.dartlang.org/packages/youtube_player_flutter).

[2019-04-14 09:54] shiva2562 commented on #26
Thank you so much

[2019-04-14 09:54] #26 closed

[2019-04-15 20:13] alexjuniodev opened #27 "Could you add 144p resolution support?"
I think you should change only

`enum YoutubeQuality { LOWEST, LOW, MEDIUM, HIGH, HD, FHD }`

AND

[code]

[2019-04-16 01:35] sarbagyastha commented on #27
Thanks for your suggestion, will work on it. But changing these only ain't enough as the plugin is dependent on Android side. Changing these only will play videos in 720p although you select 144p.

[2019-04-16 15:39] ljfreelancer88 opened #28 "onVideoEnded is not firing"
When i drag the "circle play indicator" until it almost finishes the video, the `onVideoEnded` is not firing. It only fires when you play the video without skipping.

Because what I want to do is when the video finished. It will prompt a custom widget, let say an alert or a repeat or back button.

[2019-04-17 08:33] sarbagyastha commented on #27
@alexjuniodev, [Version 3.2.2](https://pub.dartlang.org/packages/youtube_player#-changelog-tab-) adds supports for 144p playback. 🍻

[2019-04-17 08:35] sarbagyastha commented on #28
@ljfreelancer88 , [Version 3.2.2](https://pub.dartlang.org/packages/youtube_player#-changelog-tab-) fixes the issue with `onVideoEnded`.

[2019-04-17 08:37] #22 closed

[2019-04-17 09:50] ljfreelancer88 commented on #22
Great news. How about migrating from `youtube_player` to `youtube_player_flutter`? Does it need some extra work or cleanup?

If we publish an app using `youtube_player_flutter` (in an iframe). There's no "foul" to YouTube and Apple?

[2019-04-17 10:02] sarbagyastha commented on #22
@ljfreelancer88 , not much work on migration, you can change few properties and you'll be good to go.

Yup, there won't be any foul as it's official way of playing YouTube videos in web and Apple OS family.

[2019-04-19 10:00] SandyAra opened #29 "How to Change FullScreen Mode on Screen Orientation Landscape"

[2019-04-19 14:49] ljfreelancer88 opened #30 "Video plays from the beginning when device change orientation"
Hi, the video plays from the beginning when the device changed orientation.

You can make all these issues as reference for testing to your new `youtube player` package :)

[2019-04-21 18:52] jmas opened #31 "Video have incorrect progress position after orientation was changed"
**Steps to reproduce:**
1. Start playing video
2. Change orientation to Full Screen
3. Change orientation back
4. See that progress bar is stop change value (it stopped change value following the video)

**Expected result:**
1. Progress bar working correctly after orientation change

[2019-04-22 05:47] sarbagyastha commented on #30
It's working fine in my case. Is it an issue in youtube_player_flutter package ?

[2019-04-22 05:49] sarbagyastha commented on #31
**Acknowledged**

[2019-04-23 01:19] #28 closed

[2019-04-23 01:20] #27 closed

[2019-04-23 06:56] sarbagyastha commented on #31
[Version 3.4.1](https://pub.dartlang.org/packages/youtube_player#-changelog-tab-) fixes the issue. 🍻

[2019-04-23 06:57] sarbagyastha commented on #30
#29

[2019-04-23 06:58] sarbagyastha commented on #30
#29

[2019-04-23 07:01] sarbagyastha commented on #29
[Version 3.4.1](https://pub.dartlang.org/packages/youtube_player#-changelog-tab-) automatically switches to full screen mode on landscape orientation. To disable the feature [reactToOrientationChange](https://pub.dartlang.org/documentation/youtube_player/latest/youtube_player/YoutubePlayer/reactToOrientationChange.html) can be used.

[2019-04-23 19:01] jmas commented on #31
@sarbagyastha Wow, thank you! Tested and looks fixed.

[2019-04-24 01:55] #31 closed

[2019-04-24 09:34] sandyara commented on #29
@sarbagyastha Great work. Need same update for your youtube_player_flutter

[2019-04-28 09:56] polopai opened #32 "Can the default controller add a return button?"
![Snipaste_2019-04-28_17-51-55](https://user-images.githubusercontent.com/38492201/56862505-574f9400-69de-11e9-954f-a033f97413c1.png)

I tried to add a back button myself, but the display and hiding of the button needs to be handled. so, I hope that the native controller can have this function. Thank you

[2019-05-10 06:55] sehaladesign opened #33 "video keep loading"
I have several video fetch from youtube. Some video working fine. And some of them just keep loading. Maybe you can help fix it.

[2019-05-15 15:33] sarbagyastha commented on #33
@sehaladesign , can you provide video ids that aren't working ?

[2019-05-15 15:38] sarbagyastha commented on #32
Sorry for late response, will look into it.

[2019-05-15 15:38] #30 closed

[2019-05-15 15:39] #24 closed

[2019-05-16 05:40] azeemrehan commented on #33
yG-R8ejlvc8 id of the video

[2019-05-20 02:47] hayasisuny commented on #33
Me too. plz........
id :
vxjnMVZpfDY

url :
https://youtu.be/vxjnMVZpfDY

[2019-05-21 09:20] muhammadsaddamnur opened #34 "can't exit fullscreen"
bottom minimize error

[2019-05-24 07:01] jediaha commented on #33
have the same problem
https://www.youtube.com/watch?v=LJSRjU6OflY

[2019-05-24 09:48] AmanaDEV opened #35 "youtube video reload again when scroll down and up in listview"

[2019-05-26 09:18] nitishpatel commented on #33
Having same issue i even tried running the code in the readme.md file from example folder

[2019-05-26 15:37] nitishpatel opened #36 "Unable to load a video"
LOGS`D/EgretLoader( 7486): EgretLoader(Context context)
D/EgretLoader( 7486): The context is not activity
I/YoutubePlayerPlugin( 7486): Quality: 720p WEBM
I/YoutubePlayerPlugin( 7486): Media Type: GENERAL
E/ExoPlayerImplInternal( 7486): Source error.
E/ExoPlayerImplInternal( 7486): com.google.android.exoplayer2.upstream.HttpDataSource$InvalidResponseCodeException: Response code: 404
E/ExoPlayerImp

[2019-05-26 15:38] nitishpatel commented on #33
https://www.youtube.com/watch?v=NHr6lTKYCNc

[2019-05-28 23:02] brubraz commented on #34
Same here

[2019-05-31 12:22] KerianFiter opened #37 "Is there a way to prevent the video from buffering when autoPlay is false?"
Hey everyone!

I'm displaying videos in a list with this plugin using the YoutubePlayer, and I'd like to know if it was possible not to load the video until the Play button is pressed, but still show the thumbnail. I could not find any way to do it, and right now this slows the app quite a lot.

I hope you can help me on that, thank you.

[2019-06-02 14:15] mhabashy opened #38 "Live Streaming throws error is there away to fix this."
The application works great for previous videos, however, it crashes on live videos. Is there a solution for this?

`
D/MediaCodec(11263): [OMX.google.h264.decoder] setting dataspace on output surface to #104
D/        (11263): HostConnection::get() New Host Connection established 0x71fdf13e6fc0, tid 12015
D/SoftwareRenderer(11263): setting dataspace on output surface to #104
I/flutter (11263): ══

[2019-06-03 11:08] #37 closed

[2019-06-03 11:08] KerianFiter commented on #37
The new plugin resolved this issue: https://github.com/sarbagyastha/youtube_player_flutter

[2019-06-03 23:02] udi17live commented on #25
I get this same exception

[2019-06-08 04:22] skjagini opened #39 "Some of the videos are not playing"
Hi,  when I tried the following video id, for ex: vlkNcHDFnGA, it is not playing other videos are playing.  A bit of recap, when I tried the same video id as through embedded iframe on my websites also it didn't play initially until I hosted my website under https, as the adwords load only under https host.

I have the same experience with the youtube_player plugin as well, is there a way to load

[2019-06-12 20:15] adlucio87 commented on #33
same issue with all video in this channel:
https://www.youtube.com/channel/UC_8mNVpafplqHNy85No4O2g

[2019-06-24 16:40] uisuru opened #40 "_resolutionBottomSheet Bottom Overflowed"
![Screenshot_20190624-220630](https://user-images.githubusercontent.com/23442915/60036401-c7238780-96cc-11e9-9ebb-38a2e38681d0.png)

[2019-06-24 20:21] uisuru commented on #40
It works when you change
Container(
                    height: 30,
                    width: 30,
                  ),
to
FittedBox(
                  fit: BoxFit.fill,
                  child: Container(
                      height: MediaQuery.of(context).size.height/(6*4),
                      width: MediaQuery.of(context).size.width,
                    ),
                  )

[2019-06-24 20:42] uisuru commented on #40
Change _qualityRow
[code]
to
[code]

in Widget build
[code]

[2019-06-25 22:54] kushagragupta08 commented on #39
When i play some videos they are not playing .
Like:-
https://www.youtube.com/watch?v=OUnRzs8RBO4
Please help what i have to do in these cases. Is this a plugin error or what ??

[2019-07-10 21:13] bkoruznjak commented on #36
Getting the same error for every video I have tried so far.

Nexus 5x, Android 8.0.1
Flutter 1.5.4-hotfix.2

[2019-07-13 20:16] ariG23498 commented on #39
I have the same issue.

[2019-07-14 06:27] ariG23498 commented on #39
This is not a fix for this plugin, but i did this to overcome the problem:
[code]

[2019-07-15 15:38] imsujan276 opened #41 "MissingPluginException(No implementation found for method init on channel sarbagyastha.com.np/youtubePlayer"
Youtube Video Id: 7QUtEmBT_-w
E/flutter ( 8842): [ERROR:flutter/lib/ui/ui_dart_state.cc(148)] Unhandled Exception: MissingPluginException(No implementation found for method init on channel sarbagyastha.com.np/youtubePlayer)
E/flutter ( 8842): #0      MethodChannel.invokeMethod (package:flutter/src/services/platform_channel.dart:300:7)

[2019-07-19 10:22] andreadelfante commented on #41
Same issue here

[2019-07-20 06:54] SteadyAction commented on #41
same

[2019-07-20 15:24] kushagragupta08 commented on #39
DOES IT PLAYS THE VIDEO IN APP OR OUTSIDE THE APP??
AND IT PROVIDES ALL FUNCTIONALITIES LIKE AUDIO CONTROL OR SEEKBAR ??

[2019-07-20 15:42] ariG23498 commented on #39
@kushagragupta08  The fix is like an IFrame for a website, this is an app solution, but sadly does not provide controllers as is provided by the plugin.
![WhatsApp Image 2019-07-14 at 8 47 50 PM](https://user-images.githubusercontent.com/36856589/61580771-fb0a9500-ab32-11e9-99ce-c641af0cc8e5.jpeg)

This is how it will look like in the app.

[2019-07-22 09:48] BRLOKESH commented on #41
Same here

[2019-07-23 06:34] NhaPCS opened #42 "Source error for ExoPlayerImplInternal"
I got the error when running some video like the following:

E/ExoPlayerImplInternal(22950): Source error.
E/ExoPlayerImplInternal(22950): com.google.android.exoplayer2.upstream.HttpDataSource$InvalidResponseCodeException: Response code: 404
E/ExoPlayerImplInternal(22950): 	at com.google.android.exoplayer2.upstream.DefaultHttpDataSource.open(DefaultHttpDataSource.java:300)
E/ExoPlayerImplInternal(

[2019-07-24 01:14] sarbagyastha commented on #42
Could you provide me the videoId?

[2019-07-24 01:15] sarbagyastha commented on #41
Does the issue persists after full restarting application ?

[2019-07-24 03:30] NhaPCS commented on #42
It is Opoa-uxW7MQ
 Please check!

[2019-07-24 10:02] BRLOKESH commented on #41
LOKESH:~ LOKESH$ touch /.bash_profile
LOKESH: LOKESH$ open -e /.bash_profile
LOKESH: LOKESH$ source $HOME/.bash_profile
LOKESH:~ LOKESH$ echo $PATH
/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Applications/Server.app/Contents/ServerRoot/usr/bin:/Applications/Server.app/Contents/ServerRoot/usr/sbin:/Users/apple/Desktop/flutter V1.5.4/flutter/bin:/Users/apple/Desktop/flutter V1.5.4/bin
LOKESH:~ LOK

[2019-07-28 07:04] Akhillevakumar commented on #33
Unhandled Exception: MissingPluginException(No implementation found for method init on channel sarbagyastha.com.np/youtubePlayer)

While running in IOS

[2019-08-03 07:58] singlakaran opened #43 "if youtube video link is wrong then it gives error. its not handle properly"

[2019-08-06 12:39] sarbagyastha commented on #41
Full rebuild will fix the problem

[2019-08-06 12:39] #41 closed

[2019-08-06 12:44] sarbagyastha commented on #40
Should be fixed in new version

[2019-08-06 12:44] #40 closed

[2019-08-06 12:47] sarbagyastha commented on #39
It's now working in new version.

[2019-08-06 12:55] sarbagyastha commented on #36
The plugin doesn't support some protected videos. It's kind of a limitation.

[2019-08-06 12:55] #36 closed

[2019-08-06 12:57] sarbagyastha commented on #42
The plugin doesn't support some protected videos. It's kind of a limitation.

[2019-08-06 13:18] undamatlamanikanta commented on #34
i am facing same problem please help me how to fix the issues

[2019-08-06 17:35] KaracsonyMarton commented on #34
#metoo,

[2019-08-12 10:20] ShubhranshuShekhar commented on #34
i also have same problem

[2019-08-12 11:41] sarbagyastha commented on #34
Can you report with some logs folks ?

[2019-08-12 12:13] ShubhranshuShekhar commented on #34
I am using below as workaround
youtube_player_flutter 4.0.0+2

Please consider me out of this for now.

[2019-08-15 09:25] RuneAlexanderTrachsel commented on #33
EDIT: Did not see that this plugin was Android only
Still no fix on this issue? Video keeps loading on iOS on any url :/

[2019-08-18 02:57] Willian199 opened #46 "Overflow on Landscape"
My device is generating an overflow error when orientation is landscape and I press to change the quality.

error print
[https://uploaddeimagens.com.br/imagens/erro-jpeg-96b9811f-56ca-4f11-b67d-0a949638c72e](url)

[2019-08-23 07:23] chhotealams commented on #4
sir google sign in not work ..........this issu...........

    #60 pc 0007097e  /system/lib/libandroid_runtime.so (_JNIEnv::CallStaticVoidMethod(_jclass*, _jmethodID*, ...)+62)
    #61 pc 00073e78  /system/lib/libandroid_runtime.so (android::AndroidRuntime::start(char const*, android::Vector<android::String8> const&, bool)+744)
    #62 pc 00001bb2  /system/bin/app_process32 (main+1506)
    #63 pc

[2019-08-24 10:51] vishsinghal opened #47 "youTube url not working"
Some YouTube new Url not working

https://youtu.be/5EMpN6YVhXU

try this not understand the issue.

[2019-08-24 10:55] vishsinghal commented on #39
wich dependencies you use ????

[2019-08-24 10:56] vishsinghal commented on #39
which new version ??

[2019-08-25 04:43] anybao commented on #41
This issue is still present when I restart the application or do a full rebuild. Please help me!

[2019-08-26 04:11] vishsinghal commented on #47
I have also try latest version youtube_player: ^3.5.0 but video not working

[2019-08-30 19:45] bdangvnt opened #48 "video not played, javascript error on log console"
At lastest version, on ios, can't play youtube videos with below log:
Error Domain=WKErrorDomain Code=4 "A JavaScript exception occurred" UserInfo={WKJavaScriptExceptionLineNumber=58, WKJavaScriptExceptionMessage=TypeError: undefined is not an object (evaluating 'player.playVideo'), WKJavaScriptExceptionColumnNumber=11, WKJavaScriptExceptionSourceURL=https://sarbagyadhaubanjar.github.io/youtube_pl

[2019-09-01 11:21] Taosif7 opened #49 "Video does'nt play if the thumb dimensions & video dimensions are different"
I found a weird bug while trying to figure out why some videos were not playing.
I tried with few videos and also saw their meta data and I found out that videos that have different resolutions of thumbnail & video, does'nt play.

for example:

this video plays:
https://www.youtube.com/watch?v=mPQOizLReVU
thumb:480x270
video:480x270

this does'nt:
https://www.youtube.com/watch?v=fyHe9L2df_g
thumb:

[2019-09-01 11:28] #49 closed

[2019-09-01 11:28] Taosif7 commented on #49
### Found out that this deduction was false

[2019-09-06 05:56] SayaGames opened #50 "Portrait Orientation gives Portrait Fullscreen video"
Hi, I use portrait orientation in my app by the code:

SystemChrome.setPreferredOrientations([
      DeviceOrientation.portraitUp,
      DeviceOrientation.portraitDown,
    ]);
If user click fullscreen mode on the player, result is portrait video (shrunk)

I want if user click fullscreen button, result is landscape (correct ratio of the video). User can manually turn the phone to watch.

Best rega

[2019-09-12 11:19] SayaGames commented on #42
is there any method to catch the error ? (Your onError method can't catch the such error)

[2019-09-20 01:41] daengweb commented on #42
I got some problems when isLive set to true. do you have solutions for these issues?

[2019-09-24 05:56] SayaGames opened #51 "Video playing Speed (e.g 1.25X, 1.5x or -1.25x)"
Hi, is there any method to increase or decrease play speed of the video?

[2019-09-28 03:41] Willian199 commented on #46
To correct this error i made a change on class Controls, line 500 .
My solution:

  void _resolutionBottomSheet() {

    showModalBottomSheet(
      context: context,
      builder: (context) {
        return Container (
          width: 400,
          child: SingleChildScrollView(
            child: Column(
              mainAxisSize: MainAxisSize.min,
              children: <Widget>[

[2019-09-28 09:06] brookmg opened #52 "Compliance with policies from Google?"
Is this library compliant with the Device and Network abuse policy?

[2019-09-30 12:39] icodetheworld opened #53 "Unhandled Exception: MissingPluginException(No implementation found for method init on channel sarbagyastha.com.np/youtubePlayer)"
I've tried to run the sample video player and the preferred example. both give same exception

Unhandled Exception: MissingPluginException(No implementation found for method init on channel sarbagyastha.com.np/youtubePlayer)

`[VERBOSE-2:ui_dart_state.cc(148)] Unhandled Exception: MissingPluginException(No implementation found for method init on channel sarbagyastha.com.np/youtubePlayer)
#0      M

[2019-10-03 10:13] raipradeep opened #54 "Unable to play video - embed youtube url"
I/chromium: [INFO:CONSOLE(74)] "Uncaught TypeError: player.pauseVideo is not a function", source: https://sarbagyadhaubanjar.github.io/youtube_player/android/player.js (74)

[2019-10-09 02:50] valterh4ck3r commented on #42
Same problem

[2019-10-09 02:52] valterh4ck3r commented on #42
https://www.youtube.com/watch?v=JpgkVvePY2w

Example above.

[2019-10-10 12:08] calber opened #55 "live channel"
live channel often report < 0 currentPosition

fix is:
controls.dart line 421:

                  value: currentPosition < 0 ? 0: currentPosition,

[2019-10-16 02:02] freddieking17 commented on #4
Did you ever find a solution to this problem. I've run into it...

[2019-10-17 22:40] ianpark opened #56 "Video does not start"
Occasionally the video does not start and the spinner shows permanenty until restarting the entire app. Is it a known issue?

[2019-11-06 11:10] baptisteArno commented on #42
I'm looking for this too! Did you manage to do something about that?

[2019-11-12 19:21] nitishpatel opened #57 "Video not Playing"
CODE
`
YoutubePlayer(
            context: context,
            source: "https://www.youtube.com/watch?v=NHr6lTKYCNc",
            quality: YoutubeQuality.LOW,
            // callbackController is (optional).
            // use it to control player on your own.
            callbackController: (controller) {
              _videoController = controller;
            },
          )
,`
LOGS
[code]

[2019-11-30 18:00] Kroha1999 commented on #56
This may happen if the Video is blocked for some users or it is blocked for your country - had same issue

[2019-12-14 04:09] shinewanna opened #58 "Quality Button only show dropdown nothing else,if there some meaning,explain me."

[2019-12-17 09:03] SayaGames commented on #50
I noticed that, removing the "SystemChrome.setPreferredOrientations" declarations (not forcing the specific orientation) cure for the issue. But this time we have to implement on UI for horizontal / vertical layouts both.

[2019-12-17 09:06] SayaGames commented on #35
This occurs for me at orientation change. I think root cause is setting the state. Every state settings creates-redraw a new youtubeplayer

[2019-12-17 14:16] AbdullahAli1993 commented on #39
Sorry but I think it's not,
some videos still doesn't load

[2019-12-20 11:30] alwinlazar commented on #41
Same here

[2019-12-23 06:20] SayaGames commented on #56
Me too, I think, this is because of video duration. It's weird that, if video duration is big (my observationis bigger 12 min), video is not playing.

[2019-12-23 06:40] SayaGames commented on #57
Did you try? source  source:NHr6lTKYCNc instead of "https://www.youtube.com/watch?v=NHr6lTKYCNc"

[2019-12-24 09:15] kouxinhong opened #59 "Whether to support hiding loading progress bar"
show only thumbnails and hide loading，
Is it possible to support this feature

[2019-12-24 17:30] the-badcoder opened #60 "Some specific videos doesn't play in Android.(IOS okay)"
Some specific videos for example id: **RJ7_q9Gx8rg** showing only spinner in Android, but playing fine in IOS.

[2019-12-25 22:37] dprogrammer commented on #56
some videos don't start in https://pub.dev/packages/youtube_player, but start in https://pub.dev/packages/youtube_player_flutter

do not display any error messages

video tested https://www.youtube.com/watch?v=CQx53asH8q4

[2020-01-02 05:58] rsDhirendra commented on #60
I also Have Same Problem

[2020-01-09 02:53] iOShuyang opened #61 "can not play"
W/System.err( 6286): java.io.FileNotFoundException: https://s.ytimg.com/yts/jsbin/null
W/System.err( 6286): 	at com.android.okhttp.internal.huc.HttpURLConnectionImpl.getInputStream(HttpURLConnectionImpl.java:251)
W/System.err( 6286): 	at com.android.okhttp.internal.huc.DelegatingHttpsURLConnection.getInputStream(DelegatingHttpsURLConnection.java:210)
W/System.err( 6286): 	at com.android.okhttp.int

[2020-01-16 09:31] Rajook opened #62 "Android X warning"
i have migrated my project to Android X know youtube_player have a warning for Android X and i am not able to build apk kindly give the solution.

[2020-01-23 15:49] rats24 commented on #61
Same here...

[2020-01-24 14:48] ayahsujana opened #63 "can't play video anymore"
this plugin can't play video from youtube again. can you solved this?

[2020-01-26 23:16] silasrpg commented on #63
I wait or plugin to work again, I need to touch 4 random seconds of a video link.

[2020-01-30 03:47] byambaa0111 commented on #63
Hello. when i try to play youtube link it gives me error like this:

W/System.err(30546): java.io.FileNotFoundException: https://s.ytimg.com/yts/jsbin/null
W/System.err(30546): 	at com.android.okhttp.internal.huc.HttpURLConnectionImpl.getInputStream(HttpURLConnectionImpl.java:255)
W/System.err(30546): 	at com.android.okhttp.internal.huc.DelegatingHttpsURLConnection.getInputStream(DelegatingHttpsUR

[2020-02-09 08:19] callforjhed opened #64 "Video not playing"
Video not playing anymore. Please fix.

[2020-02-23 16:27] yasintz commented on #63
@sarbagyastha

[2020-02-25 11:20] samitha87 opened #65 "No implementation found for method init on channel sarbagyastha.com.np/youtubePlayer"
I/m getting above issue while i'm running the app(iOS).
i'm using 3.5.0

[2020-03-12 04:59] Americo29 commented on #61
Same here...

[2020-03-12 07:44] therezacuet opened #66 "Unhandled Exception: MissingPluginException(No implementation found for method init on channel sarbagyastha.com.np/youtubePlayer)"
E/flutter (22187): [ERROR:flutter/lib/ui/ui_dart_state.cc(157)] Unhandled Exception: MissingPluginException(No implementation found for method getSharedYoutubeVideoUrl on channel com.thereza.financeteachingapp)
E/flutter (22187): #0      MethodChannel._invokeMethod (package:flutter/src/services/platform_channel.dart:154:7)

[2020-03-17 15:50] dimiril commented on #64
Video not playing anymore. Please fix.

[2020-03-18 14:11] riansyaaah opened #67 "Access denied finding property "persist.report.tid""
Hallo flutter's
I have the issue :

Access denied finding property "persist.report.tid"
I/ExoPlayerImpl(24503): Init 28fea41 [ExoPlayerLib/2.10.3] [RMX1903, RMX1903, Realme, 29]
I/flutter (24503): 1
I/ple.portal_des(24503): ProcessProfilingInfo new_methods=59 is saved saved_to_disk=1 resolve_classes_delay=5000
W/System.err(24503): java.io.FileNotFoundException: https://s.ytimg.com/yts/jsbin/null
W

[2020-03-22 05:59] akshaykumaru18 commented on #66
did you figureout solution?

[2020-04-07 09:42] bawantha commented on #64
yes

[2020-04-19 01:21] mukhsin opened #68 "Video player width expands container"
I tried this plugin for the first time

This is my code
`Container(
  child: YoutubePlayer(
    source: videoSource,
    quality: YoutubeQuality.MEDIUM,
    aspectRatio: 16 / 9,
    showThumbnail: true,
  ),
),`

Here is the result
![Screenshot_20200419-081916](https://user-images.githubusercontent.com/9584947/79677023-9b9efa00-8216-11ea-8987-f7cddca50111.jpg)

I hope it will be fixed soon
And I a

[2020-04-19 17:21] ettiennelr opened #69 "Flutter app just closes withu any error when creatingwidget - only on android 10"
class YouTube extends StatefulWidget {
  String id;

  YouTube(this.id);

  @override
  _YouTubeState createState() => _YouTubeState();
}

class _YouTubeState extends State<YouTube> {
  YoutubePlayerController _controller;

  @override
  void initState() {
    _controller = YoutubePlayerController(
      initialVideoId: widget.id,
      flags: YoutubePlayerFlags(
        mute: false,
        autoP

[2020-04-20 14:47] sijangurung commented on #66
+1

[2020-04-20 15:14] therezacuet commented on #66
I am still trying to figure out the solution.

[2020-04-21 09:56] tanmytran commented on #64
my issue: [INFO:CONSOLE(379)] "Unrecognized feature: 'picture-in-picture'.", source:

[2020-04-22 16:03] sidkhore1002 opened #70 "Access denied finding property "persist.report.tid" for v3.5.0"

[2020-04-22 16:23] sidkhore1002 opened #71 "java.io.FileNotFoundException: https://s.ytimg.com/yts/jsbin/null for v3.4.1"

[2020-04-22 16:28] sidkhore1002 commented on #67
Any solution?

[2020-04-26 17:24] d-apps opened #72 "Flutter web?"
Is it possible to add Flutter web compatibility to this plugin?

[2020-04-30 20:44] avishramgolam commented on #72
even I am interested in web compatibility or a workaround.

[2020-05-04 09:03] shailendra-rajpoot opened #73 "rubbish plugin"
not play video only loader show all time total rubbish plugin.

[2020-05-04 11:28] iamnhvt opened #74 "Error: No named parameter with the name 'isInitialRoute'."
Got this error:
youtube_player/lib/youtube_player.dart:1175:31: Error: No named parameter with the name 'isInitialRoute'.

I think isInitialRoute is deprecated after 1.14.1

[2020-05-04 14:02] aristeu13 commented on #74
I have the same problem, but it doesn't look like it will be fixed anytime soon

[2020-05-10 02:40] rhbrunetto commented on #74
I had the same problem here.
I even tried to fork the lib and remove the `isInitialRoute` argument, but didn't work as expected at all.

My workaround was swtich from `youtube_player` to `flutter_youtube_player` (https://pub.dev/packages/youtube_player_flutter).
It's maintaining by sarbagyastha too.